/* CSS fileselector {
property: value;
}
*/
html {

}


a{
    color: #888888;

}

a:visited {
  color: #888888;
}

.site-header {
  box-sizing: border-box;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  font: normal 16px "helvetica neue";
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 25px;
}

.site-footer {
    border-top: 0px solid;
    padding: 30px 0;
    font: normal 16px "helvetica neue";
}

.post-link, .post-link:visited {
    display: block;
    font-size: 24px;
    font: normal 16px "helvetica neue";
    color: #000000
}

.page-content {
    padding: 30px 0;
    box-sizing: border-box;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    font: normal 16px "helvetica neue";
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 25px;

}

.post-meta {
    font-size: 14px;
    color: #000000;

}

body {
    font: 400 16px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000000;
    background-color: #FFFFFF;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    margin: 0 auto;
    padding: 10px;
}

main.css:1
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

p {

  font: normal 16px "helvetica neue";
    color: #000000;
  margin-top: 10px;
}

h1 {
  text-align: center;
  font: normal 26px "helvetica neue";
    color: #000000;
  margin-bottom: 0px

}

h2 {
  Margin-top: 0px;
  text-align: center;
  font: normal 16px "helvetica neue";
  color: #000000


}
h3 {
  font: normal 16px "helvetica neue";
  color: #000000;
  margin-bottom: 0px;

}

  .site-title, .site-title:visited {
      color: #000000;
      font: normal 30px "helvetica neue";
  }


.site-nav .page-link, .site-nav:visited {
  color: #000000;
  font: normal 16px "helvetica neue";

}

.post-title {
    font-size: 26px;
    letter-spacing: 0px;
    line-height: 1;
}

.date{
    float: right;
    text-align: right;

}
